#############
# Functions #
#############

# Choose the environment to be loaded.
function choose_environment() {
    _ENV=$1
    _CHOSEN=$HOME/.devenv/$_ENV

    if [ -e  ${_CHOSEN} ]; then
        source ${_CHOSEN}
    fi
}

#########
# Links #
#########

alias chenv='choose_environment'

# Auto load
source ${HOME}/.devenv/default
