GPG_AGENT="$(which gpg-agent)"
GPG_TTY="$(tty)"

export AWS_DEFAULT_OUTPUT="json"
export AWS_DEFAULT_REGION="eu-west-2"
export EDITOR=vim
export GOPATH="${HOME}/go"
export GPG_TTY GPG_AGENT
export PINENTRY_USER_DATA="USE_CURSES=1"
export NVM_DIR="${HOME}/.nvm"

# shellcheck disable=SC2039
path=(
    "/usr/local/bin"
    "${GOPATH}/bin"
    "${GOROOT}/bin"
    "${HOME}/.local/bin"
    "${HOME}/.bin"
    "/usr/local/opt/gpg-agent/bin"
    $path
)

compdef _pass paas-pass
zstyle ':completion::complete:paas-pass::' prefix "${HOME}/.paas-pass"
paas-pass() {
  PASSWORD_STORE_DIR="${HOME}/.paas-pass" pass "${@}"
}

compdef _pass paas-pass-high
zstyle ':completion::complete:paas-pass-high::' prefix "${HOME}/.paas-pass-high"
paas-pass-high() {
  PASSWORD_STORE_DIR="${HOME}/.paas-pass-high" pass "${@}"
}
